.form-control{
    font-size:15px ;
}
#usr {    
    background-image: url("../IMAGES/busca.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 15px;
    background-size: 25px;
    padding-left: 3em;
    
}
input[type="text"] {
    border: none;
    background-color: #f7f5f5;
    font-size: 17px;
    margin-left: 20px;
    padding-right: 200px;
}
.img-container {
    transition: transform .4s ease-in-out;
}
 
.img-container:hover {
    transform: scale(1.05);
    border-radius: 10%;
    box-shadow: 0px  1px 10px 0px rgba(0,0,0,0.1);
}
.teste{
    width: 98vw  ;
}